<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Maven+Pro|Poiret+One|Poppins" rel="stylesheet"> 
  </head>

  <body>
  	<header id="head">
      <div class="flex-item">
      <%=link_to root_path do %>
  		  <%= image_tag "JenniferIp_GIFProject4Final.gif", :id => "title-gif" %>
  		  <h1>Jen Laiting</h1>
      <% end %>
      </div>
      <div class="flex-item">
      <nav id="nav-menu">
      <ul id="nav-list">
      <!-- http://stackoverflow.com/questions/25537881/how-can-i-make-my-navbar-appear-on-every-page-in-my-rails-app -->
        <li><a href="#">Motion</a></li>
        <li class="diamond">&#9670;</li>
        <li><%=link_to "Illustration", illustrations_path%></li>
        <li class="diamond">&#9670;</li>
        <li><a href="#">Game</a></li>
        <li class="diamond">&#9670;</li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
    </div>
  	</header>

  	<main>
    	<%= yield %>
    </main>
  </body>
</html>
